<header>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="sidebar__nav">
      <h2 class="sidebar__nav__title">Thoughts&hellip;</h2>
      <ol>
        {% for post in site.posts %}
          <li>
            {% if post.link %}
            <a href="{{ post.link }}" target="_blank">{{ post.title }}</a> &#8599;
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </nav>

    <nav class="sidebar__nav">
      <h2 class="sidebar__nav__title">Other</h2>
      <ol>
        {% for my_page in site.pages %}
          <li>
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
        <li>
          <a href="https://twitter.com/douglasfoxsays">Twitter</a>
        </li>
        <li>
          <a href="mailto:douglasfoxwrites@gmail.com">Contact</a>
        </li>
      </ol>
    </nav>
</header>
